@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.navlinks_container,
.brand_header_container,
.widgets_container {
  animation: opacity 0.8s ease;
}

// navlinks styling with hover effect for text color and box animation
.navlinks_container {
  position: absolute;
  width: 180px;
  height: 200px;
  top: 239px;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'Montserrat', sans-serif;
}

.navlink {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  .hover_effect {
    position: absolute;
    height: 23px;
    width: 0;
    background-color: var(--color-outer-gold);
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
  }

  .nav_text {
    color: var(--text-slate-gray);
    padding-left: 40px;
    transition: color 0.3s ease-in-out;
  }

  &:hover {
    .nav_text {
      color: #d0b783;
    }

    .hover_effect {
      width: 24px;
    }
  }
}

// brand header styling
.brand_header_container {
  color: #d0b783;
  width: 200px;
  height: 150px;
  position: absolute;
  left: 40px;
  bottom: 8%;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.studio_name {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 24px;
  margin-bottom: 5px;
}

.studio_type {
  text-transform: capitalize;
  font-weight: 400;
}

.contact_num {
  margin-top: 2px;
  font-weight: 400;
}

// widget buttons styling
.widgets_container {
  position: absolute;
  height: 60px;
  width: 195px;
  bottom: 2%;
  left: 40px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
