.about_page_container {
  padding: 10px 40px 10px 40px;
  font-family: 'Montserrat', sans-serif;
  color: #D0B783;
}

.bio_picture {
  height: 340px;
  width: 340px;
  position: absolute;
  border-radius: 50%;
  top: 25px;
  right: 35px;
  background-color: rgb(83, 83, 83);
  // background-image: url('../../../public/images/portfolio_pic.PNG');
  background-position: center;
  background-size: cover;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.322);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.322);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.322);
  -o-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.322);
}

.bio_container {
  position: absolute;
  padding: 5px;
  top: 15px;
  left: 20%;
  // background-color: chocolate;
}

.bio_header {
  position: relative;
  font-size: 46px;
  letter-spacing: 1px;
  font-weight: 600;
}

.bio_content {
  // background-color: burlywood;
  margin-top: 20px;
  width: 700px;
  font-size: 20px;
  font-weight: 300;
}

// new about page layout

.about_page_layout {
  display: grid;
  //            col height  / row width
  grid-template: 200px 1fr / 2fr 1fr;
  grid-template-areas:
    'header picture'
    'content picture';
  height: 100vh;
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
  color: #D0B783;
  // background-color: red;

}

// Header ========================
.about_header {
  grid-area: header;
  // background-color: green;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.header_text {
  font-size: 46px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: capitalize;
  // background-color: red;
}

// Bio Picute ====================
.about_picture {
  grid-area: picture;
  // background-color: blue;
}

.about_bio_picture {
  height: 340px;
  width: 340px;
  background-color: rgb(83, 83, 83);
  border-radius: 50%;
  // background-image: url('../../../public/images/portfolio_pic.PNG');
  background-position: center;
  background-size: cover;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.322);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.322);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.322);
  -o-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.322);
  position: fixed;
  top: 10%;
}

// Bio Content ===================
.about_content {
  grid-area: content;
  // background-color: teal;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bio_text {
  font-size: 24px;
  font-weight: 300;
  width: 55%;
  height: 100%;
  // background-color: red;
}

// mobile
.mobile_about_content {
  font-family: 'Montserrat', sans-serif;
  color: #D0B783;
  // background-color: red;
  margin-top: 110px;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.mobile_bio_header {
  font-size: 46px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.bio_header_underline {
  border-bottom: 1px solid #D0B783;
  width: 85%;
  opacity: 0.5;
}

.mobile_bio_picture {
  height: 340px;
  width: 340px;
  border-radius: 50%;
  // background-image: url('../../../public/images/portfolio_pic.PNG');
  background-color: rgb(83, 83, 83);
  background-position: center;
  background-size: cover;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.322);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.322);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.322);
  -o-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.322);
}

.mobile_bio_content {
  padding: 10px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 300;
}
