@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.menu_button_container {
  animation: opacity 0.8s ease;
}

.menu_button_container {
  background-color: transparent;
  position: fixed;
  padding-top: 16px;
  height: 70px;
  width: 20px;
  bottom: 50%;
  left: 7px;
  z-index: 3;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .menu_btn_text {
    transform: rotate(-90deg);
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #d0b783;
    letter-spacing: 2px;
    transition: color 0.4s ease-in;

    &:hover {
      color: rgba(72, 74, 77, 0.6);
    }
  }
}
