.sidebar_hidden {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  color: #d0b783;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  font-size: 12px;

  @media screen and (min-width: 1920px) {
    //For Big TV's (HD Screens) and 27"

    font-size: 14px;
  }
}

.logo_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 110px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

img.brand_logo {
  width: 48px;
  height: 60px;
  padding: 0;

  @media screen and (min-width: 1920px) {
    //For Big TV's (HD Screens) and 27"

    width: 58px;
    height: 70px;
  }
}

.menu_text {
  transform: rotate(-90deg);
  position: absolute;
  top: 130px;
  cursor: pointer;
  transition: color 0.5s ease-in-out;

  &:hover {
    color: var(--text-light-gray);
  }
}

.brand_header {
  position: absolute;
  transform: rotate(-90deg);
  width: 180px;
  top: 50%;
  cursor: default;
  display: inline-flex;
  justify-content: center;
}

.social_icons {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 165px;
  bottom: 35px;
}
