.sidebar_hidden {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  color: #d0b783;
}

.logo_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 147px;
  height: 147px;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

img.brand_logo {
  width: 68px;
  height: 90px;
  padding: 0;
  // margin-right: 18px;
}

.menu_text {
  transform: rotate(-90deg);
  position: absolute;
  top: 198px;
}

.brand_header {
  transform: rotate(-90deg);
  width: 150px;
}

.social_icons {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 250px;
  bottom: 85px;
}

.icon {
  color: #d0b783;
  cursor: pointer;
}
