// Arrow Styling
.right-arrow {
  background-color: var(--overlay-light-gray);
  position: absolute;
  padding: 4px;
  top: 50%;
  right: 32px;
  font-size: 2.3rem;
  color: #f8f8f8b7;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  transition: 0.3s ease-in;
  height: 50px;
  width: 30px;

  &:hover {
    color: #f8f8f8;
    background-color: rgba(87, 89, 92, 0.45);
  }
}

.left-arrow {
  background-color: var(--overlay-light-gray);
  position: absolute;
  padding: 4px;
  top: 50%;
  left: 32px;
  font-size: 2.3rem;
  color: #f8f8f8b7;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  transition: 0.3s ease-in;
  height: 50px;
  width: 30px;

  &:hover {
    color: #f8f8f8;
    background-color: rgba(87, 89, 92, 0.45);
  }
}
